@use '../../../_css/queries.scss' as *;

.footer {
  padding: 10px 0;
  background-color: var(--theme-elevation-1000);
  color: var(--theme-elevation-0);

  @include small-break {
    padding: calc(var(--base) * 2) 0;
  }
}


.inclusions {
  display: grid;
  justify-content: center;
  gap: 30px;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px 0;

  @include large-break {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mid-break {
    margin: 60px 0;
  }

  @include extra-small-break {
    grid-template-columns: 1fr;
  }
}

.icon {
  margin-bottom: 16px;
}


:global([data-theme='dark']) {
  .footer {
    background-color: var(--theme-elevation-50);
    color: var(--theme-elevation-1000);
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 170px;
}

.hr {
  border-color: var(--color-white-500-20);
}

.socialLinks {
  display: flex;
}

.socialLinkItem {
  width: 100%;
  margin: 0 7px !important;
}

.socialIcon {
  width: 24px;
  height: 24px;
  gap: 0;
}

.hide {
  display: none;
}

.links {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.contato {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 0.9rem;
}

.copy {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .wrap {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
}
